[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
python-iso639 = "*"
requests = "*"
tasty-api = {file = "."}

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
esbonio = "*"

[requires]
python_version = "3.12"
